@media (max-width: 575px) {
    *{
        display: block;
    }

    body{
        background-image: url("DisWord.jpeg");
    }
    div{
        diplay: flex;
        color:#ffffff;
    }
    div.zah{
        text-align: center;


    }
    .icons{
        display:flex;
        position: absolute;
        flex-direction:row-reverse;
        flex-wrap: wrap;
        align-content: space-evenly;
        align-items:baseline;
        justify-content:space-around;


        order: 2;




    }
}
